/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"), url("../assets/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Light.woff") format("woff"), url("../assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../assets/fonts/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../assets/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Regular.woff") format("woff"), url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../assets/fonts/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../assets/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Bold.woff") format("woff"), url("../assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../assets/fonts/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../assets/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Lato-Black.woff") format("woff"), url("../assets/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.pic-head-discr__discr, .pic-head-position__head, .expert_info p, .copyright, #name, #email, #subject, #textarea, .form_contact_address, .form_contacts_info, .form_contacts_header, .about_title p, .portfolio_categories button, .services__description, .services__header, nav {
  font-family: "Lato-Regular", Verdana, sans-serif;
}

.logo_title {
  font-family: "Lato-Bold", Verdana, sans-serif;
}

.header, h1 {
  font-family: "Lato-Black", Verdana, sans-serif;
}

.header_text {
  font-family: "Lato-Light", Verdana, sans-serif;
}

.portfolio_categories button:hover, .icon:hover {
  transition: all 0.3s ease-out;
}

.portfolio_categories button:hover, .icon:hover {
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.6rem;
  color: #666D89;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;
}
.icon:not(:first-child) {
  margin-left: 4px;
}
.icon:hover {
  opacity: 0.6;
}

.icon_facebook {
  background-image: url("../assets/icons/icon_facebook.svg");
}

.icon_google-plus {
  background-image: url("../assets/icons/icon_google-plus.svg");
}

.icon_twitter {
  background-image: url("../assets/icons/icon_twitter.svg");
}

.icon_linkedin {
  background-image: url("../assets/icons/icon_linkedin.svg");
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.hamburger {
  display: none;
  position: relative;
  width: 31px;
  height: 25px;
}
@media (max-width: 375px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger:before {
  top: 0;
  left: 0;
}
.hamburger:after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.page-header {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.logo_title {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.03em;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  padding-top: 4px;
}
@media (max-width: 375px) {
  .logo_title {
    flex-basis: 80%;
  }
}

.logo__star {
  color: #f06c64;
}

.header_hamburger {
  margin-right: 37px;
}
@media (max-width: 375px) {
  .header_hamburger {
    left: 0;
    flex-basis: 15%;
    z-index: 20;
  }
}

nav {
  margin-top: 9px;
  white-space: nowrap;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
  text-transform: uppercase;
  margin-right: -1px;
}
nav ul {
  margin: 0;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
}
nav a {
  position: relative;
  font-size: 12px;
  text-decoration: none;
  color: #F06C64;
}
nav li:not(:first-child) a {
  margin-left: 2em;
}
nav li:not(:first-child) a:before {
  content: ".";
  position: absolute;
  top: -2px;
  left: -1.35em;
  color: white;
  border-radius: 50%;
}
nav a:not(.current) {
  color: #ffffff;
  cursor: pointer;
}
nav a.current {
  cursor: default;
}
nav a:hover {
  color: #F06C64;
}
@media (max-width: 375px) {
  nav {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 9997;
    display: flex;
    margin: 0;
    height: 100vh;
    width: 74%;
    background-color: #2d303a;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    transition: left 0.6s;
  }
  nav ul {
    position: relative;
    padding-inline-start: 0;
    top: 233px;
    left: 72px;
  }
  nav ul li {
    display: block;
    margin-bottom: 30px;
  }
  nav ul li a {
    font-family: "Lato-Regular", Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  nav li:not(:first-child) a:before {
    content: none;
    margin-left: 0;
  }
}

.to-right {
  left: 0;
  z-index: 10;
}

.slider {
  border-bottom: 6px solid #EA676B;
  background-color: #F06C64;
  padding-bottom: 110px;
  padding-top: 93px;
}
@media (max-width: 768px) {
  .slider {
    padding-bottom: 80px;
  }
}

.arrow-left {
  position: absolute;
  top: 378px;
  left: 482px;
}
.arrow-left:hover {
  cursor: pointer;
  opacity: 0.2;
}
@media (max-width: 768px) {
  .arrow-left {
    left: 30px;
    top: 307px;
  }
}
@media (max-width: 375px) {
  .arrow-left {
    left: 11px;
    top: 200px;
  }
}

.arrow-right {
  position: absolute;
  top: 378px;
  right: 480px;
}
.arrow-right:hover {
  cursor: pointer;
  opacity: 0.2;
}
.arrow-right img {
  transform: rotate(180deg);
  transform-origin: center;
}
@media (max-width: 768px) {
  .arrow-right {
    right: 25px;
    top: 308px;
  }
}
@media (max-width: 375px) {
  .arrow-right {
    right: 8px;
    top: 200px;
  }
}

.slider__v_phone {
  position: relative;
  left: 111px;
  top: 55px;
}
@media (max-width: 768px) {
  .slider__v_phone {
    width: 180.85px;
    height: 363.74px;
    left: 84px;
    top: 39px;
  }
}
@media (max-width: 375px) {
  .slider__v_phone {
    width: 88.3px;
    height: 177.61px;
    left: 36px;
  }
}

.slider__h_phone {
  position: relative;
  left: 183px;
  top: -65px;
}
@media (max-width: 768px) {
  .slider__h_phone {
    height: 180.93px;
    width: 364.21px;
    left: 136px;
    top: -51px;
  }
}
@media (max-width: 375px) {
  .slider__h_phone {
    height: 180.93px;
    width: 364.21px;
  }
}
@media (max-width: 375px) {
  .slider__h_phone {
    height: 88.35px;
    width: 177.84px;
    left: 61px;
  }
}

.services {
  padding-left: 41px;
  padding-right: 40px;
  padding-top: 69px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
@media (max-width: 768px) {
  .services {
    padding-top: 48px;
    padding-bottom: 38px;
  }
}

.services__header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666d89;
  text-align: left;
}

.services__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 27px;
  letter-spacing: -0.08px;
  line-height: 30px;
  color: #767e9e;
  text-align: left;
}

.services__container {
  padding-top: 41px;
  padding-bottom: 23px;
}

.portfolio {
  background-color: #2d303a;
}

.portfolio_header {
  color: #767e9e;
  padding-top: 43px;
  padding-left: 40px;
}
.portfolio_header h2 {
  padding-left: 41px;
  font-size: 2.3em;
}
.portfolio_header p {
  font-family: "Lato-Light", Verdana, sans-serif;
  padding-top: 1px;
  padding-left: 1px;
  font-size: 1.8em;
}

.portfolio_categories {
  padding-top: 5px;
  padding-left: 29px;
  font-weight: 400;
}
.portfolio_categories button {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  margin-left: 6px;
  padding: 0 8px 0 8px;
  border: 1px solid #767e9e;
  color: #767e9e;
  border-radius: 5px;
  background-color: #2d303a;
  cursor: pointer;
}
.portfolio_categories button:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.portfolio_categories button:first-child {
  margin-left: 12px;
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio_images {
  padding: 10px 38px 62px 39px;
}
@media (max-width: 768px) {
  .portfolio_images {
    padding: 10px 38px 95px 39px;
  }
}
@media (max-width: 375px) {
  .portfolio_images {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.images:hover {
  transition-duration: 1s;
  opacity: 0.6;
  cursor: pointer;
}

.portfolio_end {
  background-color: #323746;
  height: 6px;
}

.about {
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
}

.about_container {
  padding: 33px 30px 59px;
}

.about_title {
  color: #666d89;
}
.about_title h1 {
  padding-left: 1px;
}
.about_title p {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  text-align: justify;
}

.about_bottom {
  height: 6px;
  background-color: #ffffff;
}

.form {
  background-color: #F06C64;
}

input, textarea {
  width: 100%;
}

.header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  color: #f0d8d9;
  text-align: left;
}

.header_title {
  color: #F0D8D9;
}

.header_text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  padding-top: 4px;
  color: #f0d8d9;
  text-align: left;
  letter-spacing: 0.008em;
}

.form_contacts {
  padding-left: 26px;
  flex-basis: 45%;
}

.form_contacts_header {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
  color: #f0d8d9;
  text-align: left;
  letter-spacing: 0.01em;
  padding-bottom: 11.5px;
}

.form_contacts_info {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: #f0d8d9;
  text-align: justify;
  letter-spacing: -0.01em;
}

.form_contact_address {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  color: #f0d8d9;
  text-align: justify;
  padding-left: 17px;
}

.street {
  list-style-image: url("../assets/singolo_3/images/location.png");
  margin-left: -1px;
}

.phone {
  list-style-image: url("../assets/singolo_3/images/phone.png");
  margin-left: 1px;
}

.email {
  list-style-image: url("../assets/singolo_3/images/mail.png");
  margin-left: 2px;
}

.form_contact_address span, .form_contact_address a {
  padding-left: 5px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #ffffff;
}

.form_header {
  padding-left: 42px;
  padding-top: 47px;
  padding-right: 37px;
}

.form_fields {
  flex-basis: 88%;
}

#name, #email, #subject, #textarea {
  border-radius: 5px;
  height: 39px;
  border: none;
  background-color: #D6564F;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  color: #f48c8f;
  text-align: left;
  padding-left: 14px;
  padding-top: 6px;
  outline: 0;
}

#email, #subject, #textarea {
  margin-top: 15px;
}

#textarea {
  height: 202px;
}

#name::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

#email::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

#subject::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

#submit:hover {
  cursor: pointer;
  outline: 0;
}

#textarea::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

#submit {
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #f48c8f;
  font-size: 12px;
  line-height: 25px;
  color: #f48c8f;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
}

.line {
  height: 6px;
  background-color: #EA676B;
}

.copyright {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.6rem;
  padding-left: 40px;
  padding-top: 36px;
  color: #666d89;
  text-align: left;
}
@media (max-width: 375px) {
  .copyright {
    display: none;
  }
}

.expert_photo img {
  width: 300px;
  height: 300px;
}
@media (max-width: 768px) {
  .expert_photo img {
    width: 218.94px;
    height: 218.94px;
  }
}
@media (max-width: 375px) {
  .expert_photo img {
    width: 314px;
    height: 314px;
  }
}

.expert_info {
  font-size: 15px;
}
.expert_info p {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 8px;
  text-align: justify;
}
.expert_info h2 {
  padding-left: 1px;
}

.expert_title h2 {
  padding-left: 1px;
}
.expert_title p {
  padding-top: 19px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
  width: 100%;
}

.page-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 54px 13px 42px;
  max-width: 1020px;
  width: 100%;
  z-index: 90;
}

.container-3x2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-3 {
  position: relative;
  flex-basis: 33%;
  flex-shrink: 0;
  padding-left: 80px;
  margin-right: -10px;
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  .container-3 {
    flex-basis: 45%;
  }
}
@media (max-width: 375px) {
  .container-3 {
    flex-basis: 95%;
  }
}

.pic-head-position__head {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  color: #666d89;
  text-align: left;
  letter-spacing: -0.05px;
}

.pic-position img {
  position: absolute;
  top: 2px;
  left: 0;
}

.pic-head-discr__discr {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  line-height: 22px;
  color: #767e9e;
  text-align: justify;
  padding-top: 10px;
  padding-right: 10px;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.portfolio_img_container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 21px;
}
@media (max-width: 768px) {
  .portfolio_img_container {
    grid-template-columns: repeat(3, 2fr);
  }
}
@media (max-width: 375px) {
  .portfolio_img_container {
    grid-template-columns: repeat(2, 2fr);
  }
}
.portfolio_img_container img {
  height: 187px;
  width: 220px;
}
@media (max-width: 768px) {
  .portfolio_img_container img {
    width: 216.19px;
    height: 183.76px;
  }
}
@media (max-width: 375px) {
  .portfolio_img_container img {
    width: 151px;
    height: 128px;
  }
}

.expert {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  justify-items: center;
  color: #666d89;
}
@media (max-width: 375px) {
  .expert {
    grid-template-columns: 1fr;
  }
}

.form_details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 40px 6px 39px;
}
@media (max-width: 375px) {
  .form_details {
    display: block;
  }
}

.bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #2D303A;
  padding-bottom: 20px;
}

.bottom_icons {
  padding-left: 1px;
  padding-right: 52px;
  padding-top: 22px;
}
@media (max-width: 375px) {
  .bottom_icons {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
