.about {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

.about_container {
  padding: 33px 30px 59px;
}


.about_title {

  color: #666d89;
  h1 {
    padding-left: 1px;
  }

  p {
    @extend %font-prim-black;
    @include font($height: 3rem, $size: 1.8rem, $weight:300);
    text-align: justify;
  }

}


.about_bottom {
  height: 6px;
  background-color: #ffffff;
}
