.copyright {
  @extend %font-prim-normal;
  @include font($height: 0.6rem, $size: 1.2rem, $weight:400);
  padding-left: 40px;
  padding-top: 36px;
  color: #666d89;
  text-align: left;
}


.bottom_expert_links {
  padding-top: 21px;
}


.icon {
  margin-right: 6px;
}

.link-gplus:before {
  content: '\e801';
}

.link-twitter:before {
  content: '\e802';
}

.link-linkedin:before {
  content: '\e803';
}

.link-facebook:before {
  content: '\e800';
}
