.about_expert {

}

.expert_photo {
  img {
    width: 300px;
    height: 300px;
  }

  @include media-tablet {
    img {
      width: 218.94px;
      height: 218.94px;
    }
  }
}


.expert_info {
  font-size: 15px;

  p {
    @extend %font-prim-regular;
    @include font($height: 2rem, $size: 1.2rem);
    padding-top: 8px;
    text-align: justify;
  }

  h2 {
    padding-left: 1px;
  }
}

.expert_title {
  h2 {
    padding-left: 1px;
  }

  p {
    padding-top: 19px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
  }
}

