.page-header {
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
}

.logo_title {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: -0.03em;
  @extend %font-prim-bold;
  @include font($height: 3.0rem, $size: 2.5rem, $weight:300);
  padding-top: 4px;
  @include media-mobilesmall {
    flex-basis: 80%;
  }
}

.logo__star {
  color: #f06c64;
}

.header_hamburger {
  margin-right: 37px;
  @include media-mobilesmall {
    left: 0;
    flex-basis: 15%;
    z-index: 20;
  }
}

