
.navigation {
  display: flex;
  width: 371px;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 1px;

  @include media-mobilesmall {
    display: none;
  }


}

.navigation__link {
  list-style: none;
  padding: 0 10px;
  text-transform: uppercase;
  position: relative;
  color: $color_white;
  @extend %transition;

  &:before {
    content: "·";
    position: absolute;
    top: 0;
    left: -0.35em;
    color: white;
    border-radius: 50%;
  }

  &:nth-child(1) {
    color: #f06c64;
    content: "";
  }

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}
