.portfolio {
  background-color: #2d303a;
}

.portfolio_header {
  color: #767e9e;
  padding-top: 43px;
  padding-left: 40px;

  h2 {
    padding-left: 41px;
    font-size: 2.3em;
  }

  p {
    font-family: 'Lato-Light', Verdana, sans-serif;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 1.8em;
  }
}

.portfolio_categories {
  padding-top: 5px;
  padding-left: 29px;
  font-weight: 400;
  button {
    @extend %font-prim-regular;
    @include font($height: 2.0rem, $size: 1.1rem, $weight:400);
    margin-left: 6px;
    padding: 0 8px 0 8px;
    border: 1px solid #767e9e;
    color: #767e9e;
    border-radius: 5px;
    background-color: #2d303a;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      border-color: #ffffff;
      @extend %transition;
    }
    &:first-child {
      margin-left: 12px;
      color: #ffffff;
      border-color: #ffffff;
    }
  }
}

.portfolio_images {
  padding: 10px 38px 62px 39px;
  @include media-tablet {
    padding: 10px 38px 95px 39px
  }
  @include media-mobilesmall {
    padding-right: 22px;
    padding-left: 22px;
  }
}

.images {
  &:hover {
    transition-duration: 1s;
    opacity: 0.6;
    cursor: pointer;
  }
}


.portfolio_end {
  background-color: #323746;
  height: 6px;
}






