.portfolio {
  background-color: #2d303a;
}

.portfolio_header {
  color: #767e9e;
  padding-top: 47px;
  h2 {
    padding-left: 41px;
    font-size: 2.3em;
  }

  p {
    padding-top: 10px;
    padding-left: 42px;
    font-size: 1.34em;
  }
}

.portfolio_categories {
  padding-top: 5px;
  padding-left: 29px;
  font-weight: 400;
  button {
    @extend %font-prim-regular;
    @include font($height: 2.2rem, $size: 1.2rem, $weight:400);
    margin-left: 6px;
    padding: 3px 7px 3px 6px;
    border: 1px solid #767e9e;
    color: #767e9e;
    border-radius: 5px;
    background-color: #2d303a;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      border-color: #ffffff;
      @extend %transition;
    }
    &:first-child {
      margin-left: 12px;
      color: #ffffff;
      border-color: #ffffff;
    }
  }
}

.portfolio_images {
  padding: 10px 38px 32px 39px;
}

.images {
  &:hover {
    transition-duration: 1s;
    opacity: 0.6;
    cursor: pointer;
  }
}


.portfolio_end {
  background-color: #323746;
  height: 6px;
}






