.slider {
  border-bottom: 6px solid $color_slider_bottom;
  background-color: $color_slider_color;
  padding-bottom: 110px;
}


.arrow-left {
  position: absolute;
  top: 378px;
  left: 263px;

  &:hover {
    cursor: pointer;
  }
}

.arrow-right {
  position: absolute;
  top: 378px;
  right: 271px;

  &:hover {
    cursor: pointer;
  }

  img {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.slider__v_phone {
  position: relative;
  left: 111px;
  top: 55px;
}

.slider__h_phone {
  position: relative;
  left: 183px;
  top: -65px;
}

