html {
  font-size: 10px;
}

h1 {
  @extend %font-prim-black;
  @include font($height: 3.6rem, $size: 3rem, $weight:900);
  color: $color_h1;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;

  &:not(:first-child) {
    margin-left: 4px;
  }

  &:hover {
    @extend %transition;
    opacity: 0.6;
  }
}

.icon_facebook {
  background-image: url("../assets/icons/icon_facebook.svg");
}

.icon_google-plus {
  background-image: url("../assets/icons/icon_google-plus.svg");
}

.icon_twitter {
  background-image: url("../assets/icons/icon_twitter.svg");
}

.icon_linkedin {
  background-image: url("../assets/icons/icon_linkedin.svg");
}


