html {
  font-size: 10px;
}


h1 {
  @extend %font-prim-normal;
  @include font($height: 3rem, $size: 2.5rem);
}


.expert_links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  &:hover {
    border: 1px solid #f06c64;
    color: #f06c64;
  }
}

.expert_links span {
  float: left;
  display: inline-block;
  font-family: "fontello", sans-serif;
  text-align: center;
  width: 30px;
  line-height: 30px;
  margin: 0 8px 0 0;
  border: 1px solid #6a718c;
  border-radius: 50%;
  color: #6a718c;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

