.bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 76px;
  background-color: #2D303A;
}

.bottom_icons {
  padding-left: 1px;
  padding-right: 52px;
  padding-top: 22px;
  @include media-mobilesmall {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
