.form_details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-flow: row nowrap;
  padding: 0 40px 21px 39px;

  @include media-mobilesmall {
    display: block;
  }

}


